@use "../../mixins" as mixin;

.bikeshop__container {
  background-color: var(--background);
}
.bikeshop__description {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    padding: 40px 0px;

    @include mixin.md-lt {
      padding: 30px 0px;
    }
    @include mixin.xs {
      padding: 20px 0px;
    }
  }

  @include mixin.md-lt {
    padding: 0px 40px;
  }

  @include mixin.xs {
    padding: 0px 20px;
  }
}
