.pwa__container {
  background-color: var(--background);
}
.pwa__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 40px;
}
