.back {
  position: absolute;
  top: 60px;
  left: 60px;
  font-family: var(--font-text);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding-left: 10px;
    &:hover {
      color: var(--primary);
    }
  }
}
