@use "../mixins" as mixin;

.back {
  position: fixed;
  top: 60px;
  left: 60px;
  font-family: var(--font-text);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixin.lg-lt {
    position: absolute;
    top: 55px;
    left: 60px;
  }
  @include mixin.xs {
    top: 20px;
    left: 100px;
  }

  &__arrow {
    width: 60px;
  }
  &__text {
    padding-left: 10px;
    &:hover {
      color: var(--primary);
    }
  }
}
