.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--secondary);
  transform-origin: left;
  z-index: 999;
}
.slide-out-inner {
  background: var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  animation: widthAnimation 1.3s forwards ease-in-out;
}

@keyframes widthAnimation {
  0% {
    width: 1%;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 10%;
  }
}
