@use "../../mixins" as mixin;

.intro {
  padding: 120px 60px 60px 60px;
  display: flex;
  gap: 60px;

  @include mixin.xxl-lt {
    padding: 60px;
  }
  @include mixin.xl-lt {
    padding: 60px 280px;
    flex-direction: column;
    width: 100%;
    @include mixin.lg-lt {
      padding: 60px 120px 60px 60px;
      margin: auto;
    }
    @include mixin.xs {
      padding: 80px 30px 30px 30px;
      margin: auto;
    }
  }

  &__banner {
    @include mixin.xs {
      display: none;
    }
  }
  &__left {
    width: 50%;
    @include mixin.lg-lt {
      width: 100%;
    }
    &__pic {
      background: var(--text-color);
      border-radius: 50%;
      margin: auto;
      height: 200x;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 60px;

      @include mixin.xxl-lt {
        height: 165x;
        width: 165px;
        margin-bottom: 20px;
      }

      & img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-family: var(--font-text);
      font-size: 26px;
      font-weight: 700;
      padding-top: 10px;
    }
    &__position {
      font-size: 20px;
      font-weight: 500;
    }
    &__text {
      font-size: 21px;
      line-height: 30px;
      font-weight: 400;
      margin: 20px 0 20px 0;

      @include mixin.xxl-lt {
        font-size: 18px;
      }
    }
    &__city {
      font-size: 21px;
      padding-bottom: 10px;
    }
    &__contact {
      font-size: 18px;
      line-height: 24px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0 30px 0;

      @include mixin.xs {
        flex-direction: column;
      }
      &__socials {
        display: flex;
        gap: 15px;
      }
      &__socials--link {
        height: 45px;
        width: 45px;
      }
      & img {
        height: 100%;
        object-fit: cover;
      }

      &__cv {
        @include mixin.xs {
          margin-top: 30px;
        }
        &__link {
          display: block;
          font-family: var(--font-title);
          font-size: 18px;
          text-align: center;
          padding: 12px 14px;
          width: 200px;
          border-radius: 35px;
          border: 1px solid var(--primary);
          color: var(--primary);

          &:hover {
            background-color: var(--primary);
            color: var(--secondary);
          }
        }
      }
    }
  }
  &__right {
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__stack__title,
    &__libr__title {
      color: var(--primary);
    }
    &__stack__list,
    &__libr__list {
      font-size: 36px;
      -webkit-text-stroke: 1px var(--text-color);
      color: var(--secondary);
      @include mixin.xxl-lt {
        font-size: 32px;
      }
    }
  }
}
