@use "../../mixins" as mixin;

.intro {
  padding: 60px;
  display: flex;
  &__left {
    width: 50%;
    &__pic {
      background: white;
      border-radius: 50%;
      margin: auto;
      height: 200x;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 20px;

      & img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-family: var(--font-text);
      font-size: 28px;
      font-weight: 700;
      padding-top: 10px;
    }
    &__position {
      font-size: 20px;
      font-weight: 500;
    }
    &__text {
      font-size: 21px;
      line-height: 30px;
      font-weight: 400;
      margin: 20px 0 20px 0;
    }
    &__city {
      font-size: 21px;
      padding-bottom: 10px;
    }
    &__contact {
      font-size: 18px;
      line-height: 24px;
    }
    &__socials {
      margin: 30px 0 30px 0;
      display: flex;
      gap: 10px;

      & i {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: 1px solid;
        border-radius: 50%;
        padding: 15px;

        //   &:hover {
        //     cursor: pointer;
        //     background-color: var(--gray-2);
        //     color: var(--gray-3);
        //   }
      }
    }

    &__cv {
      &__link {
        display: block;
        font-family: var(--font-title);
        font-size: 18px;
        text-align: center;
        padding: 12px 14px;
        width: 200px;
        border-radius: 35px;
        border: 1px solid var(--primary);
        color: var(--primary);

        &:hover {
          background-color: var(--primary);
          color: var(--secondary);
        }
      }
    }
  }
}
