@use "../../mixins" as mixin;

.header-container {
  border-bottom: 1px solid var(--text-color);
  // position: fixed;
  // width: 100%;
  // background-color: var(--secondary);
}

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;

  @include mixin.xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__left {
    &__name {
      font-family: var(--font-text);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      @include mixin.xs {
        font-size: 24px;
      }
    }
  }
  &__right {
    display: flex;
    gap: 10px;
    width: 219px;
    justify-content: flex-end;

    &__about {
      font-family: var(--font-text);
      font-size: 18px;
      line-height: 30px;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
