.header-container {
  border-bottom: 1px solid var(--text-color);
  // position: fixed;
  // width: 100%;
  // background-color: var(--secondary);
}

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;

  &__left {
    &__name {
      font-family: var(--font-text);
      font-size: 25px;
      font-weight: 800;
    }
    &__position {
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    &__about {
      font-family: var(--font-text);
      font-size: 18px;
    }
  }
}
