@use "../../mixins" as mixin;

.menu {
  padding: 40px 0 0 40px;

  @include mixin.lg-lt {
    padding: 40px 0px 40px 40px;
  }

  @include mixin.md-lt {
    padding: 60px 0px 0px 40px;
  }
  @include mixin.xs {
    padding: 40px 20px 20px 20px;
  }

  &__item {
    margin-bottom: 30px;
    width: max-content;
    @include mixin.xl-lt {
      width: auto;
      margin-bottom: 60px;
    }
    @include mixin.md-lt {
      margin-bottom: 80px;
    }
    @include mixin.xs {
      margin-bottom: 35px;
    }

    &__name {
      display: inline-block;
      font-family: var(--font-title);
      font-size: 4vw;
      line-height: 100px;
      -webkit-text-stroke: 1px var(--text-color);
      color: var(--secondary);
      transition: color 0.3s, -webkit-text-stroke 0.3s;
      word-wrap: break-word;

      @include mixin.xxl-lt {
        line-height: 50px;
      }

      @include mixin.md-lt {
        font-size: 65px;
        line-height: 80px;
      }
      @include mixin.sm-lt {
        font-size: 55px;
        line-height: 80px;
      }
      @include mixin.xs {
        font-size: 28px;
        line-height: 45px;
      }

      &:hover {
        color: var(--text-color);
        -webkit-text-stroke: 0px;
      }
    }

    &__tag {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      pointer-events: none;
      opacity: 0;

      @include mixin.xxl-lt {
        padding-top: 13px;
      }
      @include mixin.xl-lt {
        display: none;
      }

      &__name {
        height: 25px;
        padding: 1px 12px;
        border-radius: 12px;
        border: 1px solid var(--text-color);
        line-height: 22px;
      }
    }
  }
}

.menu__item__image__wrapper {
  position: fixed;
  bottom: 15%;
  right: 5%;
  pointer-events: none;
  opacity: 0;

  @include mixin.xxl-lt {
    bottom: 5%;
  }
}

.menu__item__image__inner .menu__item__image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
