@use "../../mixins" as mixin;

.menu {
  padding: 40px 0 0 40px;

  &__item {
    margin-bottom: 30px;
    width: max-content;

    &__name {
      display: inline-block;
      font-family: var(--font-title);
      font-size: 80px;
      line-height: 100px;
      -webkit-text-stroke: 1px var(--text-color);
      color: var(--secondary);
      transition: color 0.3s, -webkit-text-stroke 0.3s;
      word-wrap: break-word;

      &:hover {
        color: var(--text-color);
        -webkit-text-stroke: 0px;
      }
    }

    &__tag {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      pointer-events: none;
      opacity: 0;

      &__name {
        height: 25px;
        padding: 1px 12px;
        border-radius: 12px;
        border: 1px solid var(--text-color);
        line-height: 22px;
      }
    }
  }
}

.menu__item_image_wrapper {
  position: fixed;
  bottom: 15%;
  right: 5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;

  @include mixin.xxl-lt {
    bottom: 5%;
  }
}

.menu__item_image_inner .menu__item_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.menu__item:hover .menu__item__tag {
  opacity: 1;
  transition: opacity 0.3s;
}
