.workslinks {
  padding: 140px 40px 0 40px;

  &__box {
    margin-bottom: 40px;

    &__name {
      display: inline-block;
      font-family: var(--font-title);
      font-size: 80px;
      -webkit-text-stroke: 2px var(--text-color);
      color: var(--secondary);
      transition: color 0.3s, -webkit-text-stroke 0.3s; /* Ajoute une transition de 0.3 secondes aux propriétés color et -webkit-text-stroke */

      &:hover {
        color: var(--text-color);
        -webkit-text-stroke: 0px;
      }
    }

    &__tag {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      pointer-events: none;

      &__name {
        height: 25px;
        padding: 1px 12px;
        border-radius: 12px;
        border: 1px solid var(--text-color);
        line-height: 22px;
      }
    }
    &__imgbox {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 400px;
      pointer-events: none;
      opacity: 0;

      &__img img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
