@font-face {
  font-family: "monument";
  src: url("../fonts/PPMonumentExtended-Black.otf") format("opentype");
}

@font-face {
  font-family: "monument-regular";
  src: url("../fonts/PPMonumentExtended-Regular.otf") format("opentype");
}
