@font-face {
  font-family: "monument";
  src: url("../fonts/monument/PPMonumentExtended-Black.otf") format("opentype");
}
@font-face {
  font-family: "thunder";
  src: url("../fonts/thunder/Thunder-BlackLC.otf") format("opentype");
}
@font-face {
  font-family: "obrazek";
  src: url("../fonts/obrazek/Obrazec-2.ttf") format("truetype");
}
