:root {
  --primary: #dcff7c;
  --secondary: black;
  --text-color: #fafafa;
  --title-color: #fafafa;
  --font-title: "monument", sans-serif;
  --font-main-title: "thunder", sans-serif;
  --font-family: "Poppins", sans-serif;
}
