:root {
  --primary: #dcff7c;
  --primary: #bfff07;
  --secondary: #0b0b0b;
  --text-color: #fafafa;
  --title-color: #fafafa;
  --font-title: "monument", sans-serif;
  --font-text: "monument-regular", sans-serif;
  --font-family: "Poppins", sans-serif;
}
