:root {
  --primary: #fdff87;
  --secondary: #ffff00;
  --gray-2: #efefef;
  --gray-3: #151313;
  --background: #e9e9e9;
  --text-color: #1f1d1b;
  --title-color: #fafafa;
  --font-title: "monument", sans-serif;
  --font-main-title: "thunder", sans-serif;
  --font-family: "Poppins", sans-serif;
}
